//----------------------------------------------------
//- Base: Head
//----------------------------------------------------

meta(charset="UTF-8")
title #{page.title} - #{site.title}
meta(name="description" content=page.desc)
meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, viewport-fit=cover")
meta(name="format-detection" content="telephone=no, email=no, address=no")
meta(http-equiv="x-ua-compatible" content="ie=edge")

//----------------------------------------------------
//- / facebook
//----------------------------------------------------

meta(property="og:title" content=page.title)
meta(property="og:description" content=page.desc)
meta(property="og:url" content=site.url+"/"+page.url)
meta(property="og:image" content=site.url+"/"+path.img+"/"+page.ogp)
meta(property="og:site_name" content=site.title)
meta(property="og:type" content="website")

//----------------------------------------------------
//- / Twitter
//----------------------------------------------------

meta(name="twitter:card" content="summary_large_image")
meta(name="twitter:site" content=twitter.id)
meta(name="twitter:creator" content=twitter.id)
meta(name="twitter:title" content=page.title)
meta(name="twitter:description" content=page.desc)
meta(name="twitter:image:src" content=site.url+"/"+path.img+"/"+page.ogp)

//----------------------------------------------------
//- / Icon
//----------------------------------------------------

link(rel="apple-touch-icon" href=path.img+"/apple-touch-icon.png")
link(rel="shortcut icon" href=path.img+"/favicon.png")

//----------------------------------------------------
//- / CDN - Font Awesome
//----------------------------------------------------

link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.1/css/all.css")

//----------------------------------------------------
//- / CDN - Google Fonts
//----------------------------------------------------

link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:900")

//----------------------------------------------------
//- / CDN - Google Fonts + Japanese Early Access
//----------------------------------------------------

link(rel="stylesheet" href="https://fonts.googleapis.com/earlyaccess/notosansjapanese.css")

//----------------------------------------------------
//- / CDN - highlight.js
//----------------------------------------------------

//-link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.11.0/styles/monokai.min.css")

//----------------------------------------------------
//- / Local - Yaku Han JP
//----------------------------------------------------

link(rel="stylesheet" href="dist/css/yakuhanjp.min.css")
link(rel="stylesheet" href="dist/css/yakuhanjp_s.min.css")
link(rel="stylesheet" href="dist/css/yakuhanmp.min.css")
link(rel="stylesheet" href="dist/css/yakuhanmp_s.min.css")

//----------------------------------------------------
//- / Local - MUSUBii
//----------------------------------------------------

link(rel="stylesheet" href="docs/lib/musubii/css/musubii.min.css")

//----------------------------------------------------
//- / Local - CSS
//----------------------------------------------------

link(rel="stylesheet" href=path.css+"/style.min.css")