//----------------------------------------------------
//- Page: Index
//----------------------------------------------------

extends base/_layout.pug

block vars
  include base/_config.pug
  - var key = "index"
  - var page = pages[key]

block contents

  header.section.is-topcover#topcover
    .box.is-bg-logo
      .box.is-topcover-content.is-light.is-center.is-wide-lg
        //-.group.is-desktop-none
          img.logo.is-title(src=path.img+"/"+"icon-yakuhanjp.svg" alt=page.title)
        .texts
          h1.text.is-title #{page.title}
          h2.text #{page.desc}
        p.texts.is-strong #{github.ver}
        p.texts
          i.fab.fa-github(aria-hidden="true")
          a.text.is-link-reverse(href=github.url+"/"+github.id+"/"+github.repo ontouchstart="")
            span.text Repository
          | &nbsp;/&nbsp;
          a.text.is-link-reverse(href=github.url+"/"+github.id+"/"+github.repo+"/releases" ontouchstart="")
            span.text Releases
        .btns.is-center
          a.btn.is-lg.is-ghost.is-round(href=github.url+"/"+github.id+"/"+github.repo+"/archive/master.zip" download=github.repo+"-master.zip" ontouchstart="")
            i.fas.fa-download(aria-hidden="true")
            span.text Download
    a.obj.is-scroll-point(href="#main")
      span.text.is-landscape-none Example
      i.fas.fa-arrow-down(aria-hidden="true")

  main.section.is-main#main

    section.section.is-main-content.is-example#example
      .inner-vw
        h3.heading.is-xxl.is-center Example
        .group
          .grid.is-gap-one-quarter
            .col.is-fit
              ul.simulator-tabs.is-mobile-xs.is-fablet-sm.is-tablet-md
                li.simulator-tab.is-switch-font-family.is-switch-gothic.is-active(ontouchstart="") Gothic
                li.simulator-tab.is-switch-font-family.is-switch-mincho(ontouchstart="") Mincho
                li.simulator-tab.is-switch-font-family.is-switch-round(ontouchstart="") Round
            .col.is-fit
              ul.simulator-tabs.is-mobile-xs.is-fablet-sm.is-tablet-md
                li.simulator-tab.is-switch-font-family.is-switch-full.is-active(ontouchstart="") Full
                li.simulator-tab.is-switch-font-family.is-switch-small(ontouchstart="") Small
            .col.is-fit
              ul.simulator-tabs.is-mobile-xs.is-fablet-sm.is-tablet-md
                li.simulator-tab.is-switch-font-family.is-switch-hiragino.is-active(ontouchstart="") Hiragino
                li.simulator-tab.is-switch-font-family.is-switch-yu(ontouchstart="") Yu
                li.simulator-tab.is-switch-font-family.is-switch-noto(ontouchstart="") Noto
                li.simulator-tab.is-switch-font-family.is-switch-meiryo(ontouchstart="") Meiryo
            .col.is-fit
              ul.simulator-tabs.is-mobile-xs.is-fablet-sm.is-tablet-md
                li.simulator-tab.is-switch-font-weight.is-switch-w100(ontouchstart="") w100
                li.simulator-tab.is-switch-font-weight.is-switch-w200(ontouchstart="") w200
                li.simulator-tab.is-switch-font-weight.is-switch-w300(ontouchstart="") w300
                li.simulator-tab.is-switch-font-weight.is-switch-w400.is-active(ontouchstart="") w400
                li.simulator-tab.is-switch-font-weight.is-switch-w500(ontouchstart="") w500
                li.simulator-tab.is-switch-font-weight.is-switch-w700(ontouchstart="") w700
                li.simulator-tab.is-switch-font-weight.is-switch-w800.is-disable(ontouchstart="") w800
                li.simulator-tab.is-switch-font-weight.is-switch-w900(ontouchstart="") w900
            .col.is-fit
              ul.simulator-tabs.is-mobile-xs.is-fablet-sm.is-tablet-md
                li.simulator-tab.is-switch-font-size.is-switch-xxs(ontouchstart="") 0.625em
                li.simulator-tab.is-switch-font-size.is-switch-xs(ontouchstart="") 0.75em
                li.simulator-tab.is-switch-font-size.is-switch-sm(ontouchstart="") 0.875em
                li.simulator-tab.is-switch-font-size.is-switch-md.is-active(ontouchstart="") 1em
                li.simulator-tab.is-switch-font-size.is-switch-lg(ontouchstart="") 1.25em
                li.simulator-tab.is-switch-font-size.is-switch-xl(ontouchstart="") 1.5em
                li.simulator-tab.is-switch-font-size.is-switch-xxl(ontouchstart="") 2em
        .group
          .grid.is-stretch.is-gap-none
            .col.is-mobile-6
              .box.is-before
                .inner
                  p.texts.is-before.is-font-sans-hiragino #{example.text01}
            .col.is-mobile-6
              .box.is-after
                .inner
                  p.texts.is-after.is-font-sans-hiragino-yakuhanjp #{example.text01}

    section.section.is-main-content.is-include-fonts#include-fonts
      .inner-vw
        h3.heading.is-xxl.is-center Include Fonts
        .group.is-bg-smoke-white
          .grid.is-gap-none
            .col.is-mobile-6
              .box
                .inner
                  h4.heading
                    span.text.is-mobile-block.is-strong.is-tablet-xl YakuHanJP&nbsp;
                    span.text.is-mobile-block.is-strong.is-sm
                      span.text.is-mobile-block.is-tablet-inline-block ゴシック体
                      span.text.is-mobile-block.is-tablet-inline-block （約物全部入り）
                  p.texts.is-font-sans-hiragino-yakuhanjp.is-include-fonts #{example.text02}
            .col.is-mobile-6
              .box
                .inner
                  h4.heading
                    span.text.is-mobile-block.is-strong.is-tablet-xl YakuHanJPs&nbsp;
                    span.text.is-mobile-block.is-strong.is-sm
                      span.text.is-mobile-block.is-tablet-inline-block ゴシック体
                      span.text.is-mobile-block.is-tablet-inline-block （カッコのみ）
                  p.texts.is-font-sans-hiragino-yakuhanjps.is-include-fonts #{example.text03}
        .group.is-bg-smoke-white
          .grid.is-gap-none
            .col.is-mobile-6
              .box
                .inner
                  h4.heading
                    span.text.is-mobile-block.is-strong.is-tablet-xl YakuHanMP&nbsp;
                    span.text.is-mobile-block.is-strong.is-sm
                      span.text.is-mobile-block.is-tablet-inline-block 明朝体
                      span.text.is-mobile-block.is-tablet-inline-block （約物全部入り）
                  p.texts.is-font-serif-hiragino-yakuhanmp.is-include-fonts #{example.text04}
            .col.is-mobile-6
              .box
                .inner
                  h4.heading
                    span.text.is-mobile-block.is-strong.is-tablet-xl YakuHanMPs&nbsp;
                    span.text.is-mobile-block.is-strong.is-sm
                      span.text.is-mobile-block.is-tablet-inline-block 明朝体
                      span.text.is-mobile-block.is-tablet-inline-block （カッコのみ）
                  p.texts.is-font-serif-hiragino-yakuhanmps.is-include-fonts #{example.text05}
        .group.is-bg-smoke-white
          .grid.is-gap-none
            .col.is-mobile-6
              .box
                .inner
                  h4.heading
                    span.text.is-mobile-block.is-strong.is-tablet-xl YakuHanRP&nbsp;
                    span.text.is-mobile-block.is-strong.is-sm
                      span.text.is-mobile-block.is-tablet-inline-block 丸ゴシック
                      span.text.is-mobile-block.is-tablet-inline-block （約物全部入り）
                  p.texts.is-font-round-hiragino-yakuhanrp.is-include-fonts #{example.text02}
            .col.is-mobile-6
              .box
                .inner
                  h4.heading
                    span.text.is-mobile-block.is-strong.is-tablet-xl YakuHanRPs&nbsp;
                    span.text.is-mobile-block.is-strong.is-sm
                      span.text.is-mobile-block.is-tablet-inline-block 丸ゴシック
                      span.text.is-mobile-block.is-tablet-inline-block （カッコのみ）
                  p.texts.is-font-round-hiragino-yakuhanrps.is-include-fonts #{example.text03}
        .alert.is-info.is-xs
          i.fas.fa-info-circle.is-fit(aria-hidden="true")
          span.text バグ回避のため、全てのフォントに&nbsp;
          code.code .notdef
          | &nbsp;
          code.code space
          | &nbsp;
          code.code ellipsis
          span.text &nbsp;が含まれています。

    section.section.is-main-content.is-howtouse#howtouse
      .inner-vw
        h3.heading.is-xxl.is-center How To Use
        .group
          ul.howtouse-tabs
            li.howtouse-tab.is-active.js-tab(ontouchstart="")
              i.fas.fa-cloud(aria-hidden="true")
              span.text CDN
            li.howtouse-tab.js-tab(ontouchstart="")
              i.fab.fa-npm(aria-hidden="true")
              span.text npm
            li.howtouse-tab.js-tab(ontouchstart="")
              i.fas.fa-desktop(aria-hidden="true")
              span.text Local
        .contents
          include parts/_howtouse-cdn.pug
          include parts/_howtouse-npm.pug
          include parts/_howtouse-local.pug

    section.section.is-main-content.is-custom#custom
      .inner-vw
        h3.heading.is-xxl.is-center Custom
        .group.is-card
          .inner.is-bottom-up
            h4.heading.is-strong.is-lg Font face
            ol.list.is-decimal
              li.item.is-block
                p.texts
                  | 利用するフォントファイルへのリンクを個別に取得（CDNの場合）
                .group
                  .grid
                    .col
                      a.text.is-primary.is-link-reverse(href="https://cdn.jsdelivr.net/npm/yakuhanjp@3.0.0/dist/fonts/YakuHanJP/")
                        i.fas.fa-folder(aria-hidden="true")
                        span.text YakuHanJP
                    .col
                      a.text.is-primary.is-link-reverse(href="https://cdn.jsdelivr.net/npm/yakuhanjp@3.0.0/dist/fonts/YakuHanJPs/")
                        i.fas.fa-folder(aria-hidden="true")
                        span.text YakuHanJPs
                    .col
                      a.text.is-primary.is-link-reverse(href="https://cdn.jsdelivr.net/npm/yakuhanjp@3.0.0/dist/fonts/YakuHanMP/")
                        i.fas.fa-folder(aria-hidden="true")
                        span.text YakuHanMP
                    .col
                      a.text.is-primary.is-link-reverse(href="https://cdn.jsdelivr.net/npm/yakuhanjp@3.0.0/dist/fonts/YakuHanMPs/")
                        i.fas.fa-folder(aria-hidden="true")
                        span.text YakuHanMPs
              li.item.is-block
                p.texts
                  | CSS内にfont-faceを記述（以下はYakuHanJPのウェイトを細くしfont-displayを適応した例）
                .wysiwyg
                  :markdown-it
                    ```css
                    // Regular > Light
                    @font-face {
                      font-family: "YakuHanJP";
                      font-style: normal;
                      font-weight: 400;
                      src: url("https://cdn.jsdelivr.net/npm/yakuhanjp@3.0.0/dist/fonts/YakuHanJP/YakuHanJP-Light.eot");
                      src: url("https://cdn.jsdelivr.net/npm/yakuhanjp@3.0.0/dist/fonts/YakuHanJP/YakuHanJP-Light.woff2") format("woff2"),
                      url("https://cdn.jsdelivr.net/npm/yakuhanjp@3.0.0/dist/fonts/YakuHanJP/YakuHanJP-Light.woff") format("woff");
                      font-display: swap;
                    }
                    ```

    section.section.is-main-content.is-support#support
      .inner-vw
        h3.heading.is-xxl.is-center Support
        .group.is-card
          .inner
            .group.is-scroll-x
              table.table.is-sm.is-center.is-nowrap.is-middle.is-border
                thead
                  tr.box.is-paint
                    th
                      i.fab.fa-chrome(aria-hidden="true")
                      span.text Chrome
                    th
                      i.fab.fa-firefox(aria-hidden="true")
                      span.text Firefox
                    th
                      i.fab.fa-internet-explorer(aria-hidden="true")
                      span.text IE
                    th
                      i.fab.fa-edge(aria-hidden="true")
                      span.text Ege
                    th
                      i.fab.fa-opera(aria-hidden="true")
                      span.text Opera
                    th
                      i.fab.fa-safari(aria-hidden="true")
                      span.text Safari(Mac)
                tbody
                  tr
                    td
                      span.text 55~
                    td
                      span.text 50~
                    td
                      span.text 9~
                    td
                      span.text 14~
                    td
                      span.text 36~
                    td
                      span.text 6~
            .group.is-scroll-x
              table.table.is-sm.is-center.is-nowrap.is-middle.is-border
                thead
                  tr.box.is-paint
                    th
                      i.fab.fa-safari(aria-hidden="true")
                      span.text Safari(iOS)
                    th
                      i.fab.fa-chrome(aria-hidden="true")
                      span.text Chrome(Android)
                    th
                      i.fa.fa-globe(aria-hidden="true")
                      span.text Browser(Android)
                tbody
                  tr
                    td
                      span.text 7~
                    td
                      span.text 51~
                    td
                      span.text 4.4~

    section.section.is-main-content.is-license#license
      .inner-vw
        h3.heading.is-xxl.is-center License
        .group.is-card
          .inner
            ol.list.is-disc
              li.item
                | Yaku Han JP : SIL OFL 1.1
              li.item
                | Author :&nbsp;
                a.text.is-link-reverse.is-primary(href=twitter.url+"/"+twitter.id) Qrac
              li.item
                | Author Group :&nbsp;
                a.text.is-link-reverse.is-primary(href=twitter.url+"/"+twitter.id) QRANOKO
              li.item
                | Gothic fonts : Based on&nbsp;
                a.text.is-link-reverse.is-primary(href="https://www.google.com/get/noto/#sans-jpan") Noto Sans CJK JP
                | &nbsp;licensed under the SIL OFL 1.1
              li.item
                | Mincho fonts : Based on&nbsp;
                a.text.is-link-reverse.is-primary(href="https://www.google.com/get/noto/#serif-jpan") Noto Serif CJK JP
                | &nbsp;licensed under the SIL OFL 1.1
              li.item
                | Round Gothic fonts : Based on&nbsp;
                a.text.is-link-reverse.is-primary(href="http://jikasei.me/font/rounded-mplus/") Rounded M+ 1c
                | &nbsp;licensed under the M+ FONTS LICENSE

  include common/_footer.pug