//----------------------------------------------------
//- Page: Index
//----------------------------------------------------

extends base/_layout.pug

block vars
  include base/_config.pug
  - var key = "index"
  - var page = pages[key]

block contents

  header.section.is-topcover
    .box.is-bg-logo
      .box.is-topcover-content.is-light.is-center.is-tablet-lg
        .texts
          h1.text.is-title #{page.title}
          h2.text #{page.desc}
        p.texts.is-strong #{github.ver}
        p.texts
          i.fab.fa-github(aria-hidden="true")
          a.text.is-link-reverse(href=github.url+"/"+github.id+"/"+github.repo ontouchstart="")
            span.text Repository
          | &nbsp;/&nbsp;
          a.text.is-link-reverse(href=github.url+"/"+github.id+"/"+github.repo+"/releases" ontouchstart="")
            span.text Releases
        .btns.is-center
          a.btn.is-lg.is-ghost.is-round(href=github.url+"/"+github.id+"/"+github.repo+"/archive/master.zip" download=github.repo+"-master.zip" ontouchstart="")
            i.fas.fa-download(aria-hidden="true")
            span.text Download

  main.section.is-main

    section.section.is-main-content.is-example
      .inner-vw
        h3.heading.is-xxl.is-center Example
        .group
          .grid.is-gap-one-quarter
            .col.is-fit
              ul.tabs.is-mobile-xs.is-fablet-sm.is-tablet-md
                li.tab.is-switch-font-family.is-switch-gothic.is-active(ontouchstart="") Gothic
                li.tab.is-switch-font-family.is-switch-mincho(ontouchstart="") Mincho
            .col.is-fit
              ul.tabs.is-mobile-xs.is-fablet-sm.is-tablet-md
                li.tab.is-switch-font-family.is-switch-full.is-active(ontouchstart="") Full
                li.tab.is-switch-font-family.is-switch-small(ontouchstart="") Small
            .col.is-fit
              ul.tabs.is-mobile-xs.is-fablet-sm.is-tablet-md
                li.tab.is-switch-font-family.is-switch-hiragino.is-active(ontouchstart="") Hiragino
                li.tab.is-switch-font-family.is-switch-yu(ontouchstart="") Yu
                li.tab.is-switch-font-family.is-switch-noto(ontouchstart="") Noto
                li.tab.is-switch-font-family.is-switch-meiryo(ontouchstart="") Meiryo
            .col.is-fit
              ul.tabs.is-mobile-xs.is-fablet-sm.is-tablet-md
                li.tab.is-switch-font-weight.is-switch-w100(ontouchstart="") w100
                li.tab.is-switch-font-weight.is-switch-w200(ontouchstart="") w200
                li.tab.is-switch-font-weight.is-switch-w300(ontouchstart="") w300
                li.tab.is-switch-font-weight.is-switch-w400.is-active(ontouchstart="") w400
                li.tab.is-switch-font-weight.is-switch-w500(ontouchstart="") w500
                li.tab.is-switch-font-weight.is-switch-w700(ontouchstart="") w700
                li.tab.is-switch-font-weight.is-switch-w900(ontouchstart="") w900
            .col.is-fit
              ul.tabs.is-mobile-xs.is-fablet-sm.is-tablet-md
                li.tab.is-switch-font-size.is-switch-xxs(ontouchstart="") 0.625em
                li.tab.is-switch-font-size.is-switch-xs(ontouchstart="") 0.75em
                li.tab.is-switch-font-size.is-switch-sm(ontouchstart="") 0.875em
                li.tab.is-switch-font-size.is-switch-md.is-active(ontouchstart="") 1em
                li.tab.is-switch-font-size.is-switch-lg(ontouchstart="") 1.25em
                li.tab.is-switch-font-size.is-switch-xl(ontouchstart="") 1.5em
                li.tab.is-switch-font-size.is-switch-xxl(ontouchstart="") 2em
        .group
          .grid.is-stretch.is-gap-none
            .col.is-mobile-6
              .box.is-before
                .inner
                  p.texts.is-before.is-font-sans-hiragino #{example.text01}
            .col.is-mobile-6
              .box.is-after
                .inner
                  p.texts.is-after.is-font-sans-hiragino-yakuhanjp #{example.text01}

    section.section.is-main-content.is-include-fonts
      .inner-vw
        h3.heading.is-xxl.is-center Include Fonts
        .group
          .grid.is-stretch.is-gap-none
            .col.is-mobile-6
              .box.is-bg-smoke
                .inner
                  h4.heading
                    span.text.is-inline-block.is-strong YakuHanJP
                    | &nbsp;
                    span.text.is-inline-block.is-strong.is-xxs ゴシック体 All Include（全部入り版）
                  p.texts.is-lg.is-font-sans-hiragino-yakuhanjp #{example.text02}
                  h4.heading
                    span.text.is-inline-block.is-strong YakuHanJPs
                    | &nbsp;
                    span.text.is-inline-block.is-strong.is-xxs ゴシック体 Small Amount（少量版）
                  p.texts.is-lg.is-font-sans-hiragino-yakuhanjps #{example.text03}
            .col.is-mobile-6
              .box.is-bg-white
                .inner
                  h4.heading
                    span.text.is-inline-block.is-strong YakuHanMP
                    | &nbsp;
                    span.text.is-inline-block.is-strong.is-xxs 明朝体 All Include（全部入り版）
                  p.texts.is-lg.is-font-serif-hiragino-yakuhanmp #{example.text04}
                  h4.heading
                    span.text.is-inline-block.is-strong YakuHanMPs
                    | &nbsp;
                    span.text.is-inline-block.is-strong.is-xxs 明朝体 Small Amount（少量版）
                  p.texts.is-lg.is-font-serif-hiragino-yakuhanmps #{example.text05}

    section.section.is-main-content.is-howtouse
      .inner-vw
        h3.heading.is-xxl.is-center How To Use
        .group.is-card
          .inner
            h4.heading.is-strong.is-lg
              a.text.is-link-reverse.is-primary(href="https://cdn.jsdelivr.net/npm/yakuhanjp/") CDN
            ol.list.is-decimal
              li.item.is-block
                p.texts
                  | jsDelivrで配信しているCSSファイルへのリンクをHTML内に記述
                pre.pre.is-sm
                  code.code.html.
                    // YakuHanJP
                    &lt;link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/yakuhanjp@2.0.0/dist/css/yakuhanjp.min.css"&gt;

                    // YakuHanJPs
                    &lt;link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/yakuhanjp@2.0.0/dist/css/yakuhanjp_s.min.css"&gt;

                    // YakuHanMP
                    &lt;link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/yakuhanjp@2.0.0/dist/css/yakuhanmp.min.css"&gt;

                    // YakuHanMPs
                    &lt;link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/yakuhanjp@2.0.0/dist/css/yakuhanmp_s.min.css"&gt;
        .group.is-card
          .inner
            h4.heading.is-strong.is-lg
              a.text.is-link-reverse.is-primary(href="https://www.npmjs.com/package/yakuhanjp") npm
            ol.list.is-decimal
              li.item.is-block
                p.texts
                  | npmコマンドで任意の場所にインストール
                pre.pre.is-sm
                  code.code.cmd.
                    npm install yakuhanjp
        .group.is-card
          .inner
            h4.heading.is-strong.is-lg Local
            ol.list.is-decimal
              li.item.is-block
                p.texts
                  | データを
                  a.text.is-link-reverse.is-primary(href=github.url+"/"+github.id+"/"+github.repo+"/archive/master.zip" download=github.repo+"-master.zip" ontouchstart="") ダウンロード
              li.item.is-block
                p.texts distフォルダ内の「css」「fonts」を制作サイトに配置
              li.item.is-block
                p.texts HTML内でCSSを読み込む
                pre.pre.is-sm
                  code.code.html.
                    // YakuHanJP
                    &lt;link rel="stylesheet" href="dist/css/yakuhanjp.min.css"&gt;

                    // YakuHanJPs
                    &lt;link rel="stylesheet" href="dist/css/yakuhanjp_s.min.css"&gt;

                    // YakuHanMP
                    &lt;link rel="stylesheet" href="dist/css/yakuhanmp.min.css"&gt;

                    // YakuHanMPs
                    &lt;link rel="stylesheet" href="dist/css/yakuhanmp_s.min.css"&gt;
              li.item.is-block
                p.texts CSSでフォントを適応
                pre.pre.is-sm
                  code.code.css.
                    // YakuHanJP
                    .yakuhanjp {
                      font-family: YakuHanJP, "Hiragino Sans", Meiryo, sans-serif;
                    }

                    // YakuHanJPs
                    .yakuhanjps {
                      font-family: YakuHanJPs, "Hiragino Sans", Meiryo, sans-serif;
                    }

                    // YakuHanMP
                    .yakuhanmp {
                      font-family: YakuHanMP, "Hiragino Mincho ProN", "Yu Mincho", YuMincho, serif;
                    }

                    // YakuHanMPs
                    .yakuhanmps {
                      font-family: YakuHanMPs, "Hiragino Mincho ProN", "Yu Mincho", YuMincho, serif;
                    }

    section.section.is-main-content.is-custom
      .inner-vw
        h3.heading.is-xxl.is-center Custom
        .group.is-card
          .inner
            h4.heading.is-strong.is-lg Font face
            ol.list.is-decimal
              li.item.is-block
                p.texts
                  | 利用するフォントファイルへのリンクを個別に取得（CDNの場合）
                .group
                  .grid
                    .col
                      a.text.is-primary.is-link-reverse(href="https://cdn.jsdelivr.net/npm/yakuhanjp@2.0.0/dist/fonts/YakuHanJP/")
                        i.fas.fa-folder(aria-hidden="true")
                        span.text YakuHanJP
                    .col
                      a.text.is-primary.is-link-reverse(href="https://cdn.jsdelivr.net/npm/yakuhanjp@2.0.0/dist/fonts/YakuHanJPs/")
                        i.fas.fa-folder(aria-hidden="true")
                        span.text YakuHanJPs
                    .col
                      a.text.is-primary.is-link-reverse(href="https://cdn.jsdelivr.net/npm/yakuhanjp@2.0.0/dist/fonts/YakuHanMP/")
                        i.fas.fa-folder(aria-hidden="true")
                        span.text YakuHanMP
                    .col
                      a.text.is-primary.is-link-reverse(href="https://cdn.jsdelivr.net/npm/yakuhanjp@2.0.0/dist/fonts/YakuHanMPs/")
                        i.fas.fa-folder(aria-hidden="true")
                        span.text YakuHanMPs
              li.item.is-block
                p.texts
                  | CSS内にfont-faceを記述（以下はYakuHanJPで300のウェイトを細くしfont-displayを適応した例）
                pre.pre.is-sm
                  code.code.css.
                    // Demi Light > Light
                    @font-face {
                      font-family: "YakuHanJP";
                      font-style: normal;
                      font-weight: 300;
                      src: url("https://cdn.jsdelivr.net/npm/yakuhanjp@2.0.0/dist/fonts/YakuHanJP/YakuHanJP-Light.eot");
                      src: url("https://cdn.jsdelivr.net/npm/yakuhanjp@2.0.0/dist/fonts/YakuHanJP/YakuHanJP-Light.woff2") format("woff2"),
                      url("https://cdn.jsdelivr.net/npm/yakuhanjp@2.0.0/dist/fonts/YakuHanJP/YakuHanJP-Light.woff") format("woff");
                      font-display: swap;
                    }

    section.section.is-main-content.is-support
      .inner-vw
        h3.heading.is-xxl.is-center Support
        .group.is-card
          .inner
            .group.is-scroll-x
              table.table.is-sm.is-center.is-nowrap.is-middle.is-border
                thead
                  tr.box.is-paint
                    th
                      i.fab.fa-chrome(aria-hidden="true")
                      span.text Chrome
                    th
                      i.fab.fa-firefox(aria-hidden="true")
                      span.text Firefox
                    th
                      i.fab.fa-internet-explorer(aria-hidden="true")
                      span.text IE
                    th
                      i.fab.fa-edge(aria-hidden="true")
                      span.text Ege
                    th
                      i.fab.fa-opera(aria-hidden="true")
                      span.text Opera
                    th
                      i.fab.fa-safari(aria-hidden="true")
                      span.text Safari(Mac)
                tbody
                  tr
                    td
                      span.text 55~
                    td
                      span.text 50~
                    td
                      span.text 9~
                    td
                      span.text 14~
                    td
                      span.text 36~
                    td
                      span.text 6~
            .group.is-scroll-x
              table.table.is-sm.is-center.is-nowrap.is-middle.is-border
                thead
                  tr.box.is-paint
                    th
                      i.fab.fa-safari(aria-hidden="true")
                      span.text Safari(iOS)
                    th
                      i.fab.fa-chrome(aria-hidden="true")
                      span.text Chrome(Android)
                    th
                      i.fa.fa-globe(aria-hidden="true")
                      span.text Browser(Android)
                tbody
                  tr
                    td
                      span.text 7~
                    td
                      span.text 51~
                    td
                      span.text 4.4~

    section.section.is-main-content.is-license
      .inner-vw
        h3.heading.is-xxl.is-center License
        .group.is-card
          .inner
            ol.list.is-disc
              li.item
                | Yaku Han JP : SIL OFL 1.1
              li.item
                | Author :&nbsp;
                a.text.is-link-reverse.is-primary(href=twitter.url+"/"+twitter.id) Qrac
              li.item
                | Author Group :&nbsp;
                a.text.is-link-reverse.is-primary(href=twitter.url+"/"+twitter.id) QRANOKO
              li.item
                | Gothic fonts : Based on&nbsp;
                a.text.is-link-reverse.is-primary(href="https://www.google.com/get/noto/#sans-jpan") Noto Sans CJK JP
                | &nbsp;licensed under the SIL OFL 1.1
              li.item
                | Mincho fonts : Based on&nbsp;
                a.text.is-link-reverse.is-primary(href="https://www.google.com/get/noto/#serif-jpan") Noto Serif CJK JP
                | &nbsp;licensed under the SIL OFL 1.1

  include common/_footer.pug