-var site_title = "Qrac GitHub";
-var page_title = "Yaku Han JP";
-var page_description = "約物半角専用のWebフォント";
-var page_url = "https://qrac.github.io/yakuhanjp/";
-var twitter_id = "Qrac_jp";
-var example_text01 = "「約物半角専用のWebフォント」を優先的に当てることによって、Webテキストの日本語に含まれる約物を半角にすることができました。例えば「かっこ」や『二重かっこ』、【バッジに使いそうなかっこ】などを半角にできます。ウェイトは7種類。Noto Sans Japaneseに沿っています。";
-var example_text02 = "、。！？〈〉《》「」『』【】〔〕・（）：；［］｛｝…"
-var example_text03 = "〈〉《》「」『』【】〔〕（）［］｛｝…"

doctype html
html(lang="ja")
  head
    meta(charset="UTF-8")
    title #{page_title} - #{site_title}
    meta(name="description" content="#{page_description}")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    meta(property="og:title" content="#{page_title}")
    meta(property="og:description" content="#{page_description}")
    meta(property="og:url" content="#{page_url}")
    meta(property="og:image" content="#{page_url}src/ogp.png")
    meta(property="og:site_name" content="#{site_title}")
    meta(property="og:type" content="website")
    meta(name="twitter:card", content="summary_large_image")
    meta(name="twitter:site", content="#{twitter_id}")
    meta(name="twitter:creator", content="#{twitter_id}")
    meta(name="twitter:title", content="#{page_title}")
    meta(name="twitter:description", content="#{page_description}")
    meta(name="twitter:image:src", content="#{page_url}src/ogp.png")
    link(rel="apple-touch-icon" href="src/apple-touch-icon.png")
    link(rel="shortcut icon" href="src/favicon.ico")
    link(rel="stylesheet" href="https://fonts.googleapis.com/earlyaccess/notosansjapanese.css")
    link(rel="stylesheet" href="dist/css/yakuhanjp.min.css")
    link(rel="stylesheet" href="dist/css/yakuhanjp_s.min.css")
    link(rel="stylesheet" href="src/style.css")
  body
    include icomoon/symbol-defs.svg
    header.header
      svg.-svg.-svg_logo_YakuHanJP: use(xlink:href="#-svg_logo_YakuHanJP")
      h1.-title Yaku Han JP
      h2.-disc “Yakumono-Hankaku” Only Web Fonts
      p.-version v1.3
      a.-github(href="https://github.com/qrac/yakuhanjp")
        svg.-svg.-svg_github: use(xlink:href="#-svg_github")
        span GitHub
    main.main
      section.-section
        h3.-heading Example
        h4.-type Full Normal（YakuHanJP + ヒラギノ角ゴ or Meiryo）
        .-row
          p.-example.V0 #{example_text01}
          p.-example.V1 #{example_text01}
        h4.-type Small Amount Normal（YakuHanJPs + ヒラギノ角ゴ or Meiryo）
        .-row
          p.-example.V0 #{example_text01}
          p.-example.V9 #{example_text01}
        h4.-type Full Bold（YakuHanJP + ヒラギノ角ゴ or Meiryo）
        .-row
          p.-example.-bold.V0 #{example_text01}
          p.-example.-bold.V1 #{example_text01}
        h4.-type Small Amount Bold（YakuHanJPs + ヒラギノ角ゴ or Meiryo）
        .-row
          p.-example.-bold.V0 #{example_text01}
          p.-example.-bold.V9 #{example_text01}
        h4.-type Thin W100（YakuHanJP + NotoSansJP）
        p.-example.V2 #{example_text01}
        h4.-type Light W200（YakuHanJP + NotoSansJP）
        p.-example.V3 #{example_text01}
        h4.-type DemiLight W300（YakuHanJP + NotoSansJP）
        p.-example.V4 #{example_text01}
        h4.-type Regular W400（YakuHanJP + NotoSansJP）
        p.-example.V5 #{example_text01}
        h4.-type Medium W500（YakuHanJP + NotoSansJP）
        p.-example.V6 #{example_text01}
        h4.-type Bold W700（YakuHanJP + NotoSansJP）
        p.-example.V7 #{example_text01}
        h4.-type Black W900（YakuHanJP + NotoSansJP）
        p.-example.V8 #{example_text01}
      section.-section
        h3.-heading Include Fonts
        h4.-type Full Version
        p.-example.V1 #{example_text02}
        h4.-type Small Amount Version
        p.-example.V9 #{example_text03}
      section.-section
        h3.-heading How To Use
        h4.-type CDN
        pre.-pre.
          // Full
          &lt;link rel="stylesheet" href="https://cdn.jsdelivr.net/yakuhanjp/1.2.3/css/yakuhanjp.min.css"&gt;
          
          // Small
          &lt;link rel="stylesheet" href="https://cdn.jsdelivr.net/yakuhanjp/1.2.3/css/yakuhanjp_s.min.css"&gt;
        h4.-type npm
        pre.-pre.
          npm install yakuhanjp
        h4.-type DATA
        pre.-pre.
          // Full
          dist/css/yakuhanjp.min.css
          dist/fonts/YakuHanJP/~
          
          // Small
          dist/css/yakuhanjp_s.min.css
          dist/fonts/YakuHanJPs/~
        h4.-type HTML
        pre.-pre.
          // Full
          &lt;link rel="stylesheet" href="dist/css/yakuhanjp.min.css"&gt;
          
          // Small
          &lt;link rel="stylesheet" href="dist/css/yakuhanjp_s.min.css"&gt;
        h4.-type CSS
        pre.-pre.
          // Full
          * {
            font-family: "YakuHanJP", "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
          }
          
          // Small
          * {
            font-family: "YakuHanJPs", "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
          }
      section.-section
        h3.-heading License
        .-license
          p
            | SIL / Author: 
            a(href="https://twitter.com/Qrac_jp" target="_blank") Qrac
          p
            a(href="https://www.google.com/get/noto/#/") Noto Sans CJK JP
            |  licensed under the SIL Open Font License
    footer.footer
      a(href="https://twitter.com/Qrac_jp" target="_blank"): svg.-svg.-svg_twitter: use(xlink:href="#-svg_twitter")
